@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
      width: 100%;
      height: 100%;
    }
    body {
      font-family: "Poppins", sans-serif;
      background-color: #FFFFFF;
    }
    td {
      vertical-align: middle;
      padding: 15px 30px;
      max-width: 400px;
      overflow: hidden;
    }
    tr:nth-child(even) {
      background-color: #eff6ff;
    }
    tr:nth-child(odd) {
      background-color: white;
    }
    th {
      text-align: left;
      padding: 20px 30px;
      max-width: 600px;
      background-color: #5af9b7;
      opacity: 0.8;
    }
  }
  .text-td {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 8px;
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #695af9;
      border-radius: 10px;
    }
    .scrollbar::-webkit-scrollbar-thumb {
      background: #e7ecf3;
      border-radius: 10px;
    }
  }

  @layer components {
    .movie-list .swiper-slide {
      width: 300px;
      height: auto;
    }
    .movie-list .swiper-initialized {
      height: 600px;
    }
    .banner .swiper {
      height: 100%;
    }
  }